@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.container {
    width: 89.5%;
    max-width: 1440px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;

}

a {
    text-decoration: none;
    cursor: pointer;

}

img {
    max-width: 100%;
}

li {
    list-style: none;
}