@use "../base/variables" as var;

.sub {
    background-color: var.$propery-grey-08;

    .grids {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 10px;

        .card {
            position: relative;
            border: 1px solid #262626;
            border-radius: 10px;
            background-color: var.$propery-grey-10;
            padding: 30px 16px;
            text-align: center;
            color: white;

            h1 {
                margin-top: 16px;
            }

            .arrow {
                position: absolute;
                top: 20px;
                right: 20px;
            }

        }


    }

}